/* Header.module.css */
.header {
  background-color: var(--dark-gray-color); /* Dark Gray */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white-color);
  background-color:var(--primary-color);
  padding: .2rem;
   border-radius: 10%;
   display: inline-block;
}

.logoText{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight:700;
    text-wrap: wrap;
    margin-left: .3rem;
    display: inline-block;


}

.search{
    /* color: */
}

.navbar  {
  /* margin: 0; */
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar li {
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
} 

.navbar li.Active {
    color: var(--white-color) ; /* Light Gray */
    background-color: var(--accent-color);
    cursor: pointer;
    padding: 0.1rem .3rem;
    border-radius: .2rem;
  }

.navbar li.Active:hover {
    color: var(--accent-color); /* Light Gray */
    background-color: var(--white-color);
    cursor: pointer;
  }


.navbar li:hover {
  color: var(--accent-color); /* Orange */
}



.search_div,.location_div{
    width:  30rem;
    height: 3em;
    border-radius: 10rem;
    border: .01rem solid var(--secondary-color);
    display: flex;
    align-items: center;
}

.location_div{
  width:  15rem;
}
.search_logo,.location_logo{
    margin-left: 1rem;
    color:var(--secondary-color);
}

.search_input,.location_input{
    border: none;
    outline: none;
    font-size: 1.6rem;
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    background-color: transparent;
}


.location_div{

  
}


.location_input{}


.location_search{

}