.HomePage{

}


.Hero_section{

    margin:10rem;
    width: 90vw;
    /* background:olivedrab; */
    position: absolute;
}


.Hero_text{
    font-size: 5rem;
    width: 50%;
    font-weight:100;
    position: absolute;
    z-index: 100;

}
  
.Hero_text_div{
    position: absolute;
}

 
.Hero_text::after{
    display: inline-block;
    position: absolute;
    content: "";
    background-color: var(--accent-color);
    height: .5rem;
    width: 32rem;
    bottom: -1rem;
    left: 0rem;
}

.Hero_main{
    /* position: relative; */
}

.image{
    /* background-color: wheat; */
    /* position: absolute; */
    /* background-color: red; */
    /* position: relative; */
}
.image img{
    /* position: absolute; */
    /* width: fit-content; */
    height: 90vh;
    width: 98vw;


}


.last_image{
    /* margin-top: 1rem; */
}