


.Hero_section{

    margin:10rem;
    width: 90vw;
    /* background:olivedrab; */
    position: absolute;
}
 


 
.Hero_text::after{
    display: inline-block;
    position: absolute;
    content: "";
    background-color: var(--accent-color);
    height: .5rem;
    width: 32rem;
    bottom: -1rem;
    left: 0rem;
}

.Hero_main{
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-template-rows: repeat(2, 1fr); /* 2 equal-height rows */
    width: 100%; /* Full width */
}
.Hero_main img{
    width:100%;

}
.Hero_text{
    font-size: 5rem; 
    width: 50%;
    font-weight:100;
    /* position: absolute; */
    z-index: 100;
    grid-column: 1/2;

}
.first_image{
    /* position: absolute; */
    /* width: fit-content; */
    /* height: 90vh; */
    grid-column: 2/-1;

}


